{
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier", "prettier/react", "plugin:jsx-a11y/recommended"],
    "plugins": ["babel", "prettier", "jsx-a11y"],
    "rules": {
        "comma-dangle": 0,
        "no-underscore-dangle": 0,
        "no-return-assign": 0,
        "no-use-before-define": 0,
        "no-plusplus": 0,
        "indent": ["error", 4],
        "import/prefer-default-export": 0,
        "react/jsx-filename-extension": 0,
        "react/destructuring-assignment": [1, "always", { "ignoreClassFields": true }],
        "react/no-danger": true,
       "react/no-array-index-key": true
    },
    "globals": {
        "spyOn": true 
    },
    "env": {
        "jest": true,
        "browser": true
    }
}
